<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-primary/20 px-4 sm:px-8 md:px-20 lg:px-40 py-4 sm:py-6 md:py-5">
  <%= link_to root_path, class: "flex items-center justify-center gap-4 text-primary hover:text-accent-secondary transition-colors" do %>
    <%= image_tag UiConfig::BRAND[:logo_path], class: "size-6", alt: UiConfig::BRAND[:logo_alt] %>
    <h2 class="text-lg font-bold leading-tight tracking-[-0.015em] hidden sm:block">&gt; whois TiagoAntunes<span class="blinking-cursor">_</span></h2>
  <% end %>

  <div class="flex flex-1 justify-end items-center gap-4 md:gap-8">
    <div class="flex items-center justify-center gap-4 sm:gap-6">
      <% UiConfig::LANDING_NAV.each do |item| %>
        <%= link_to "[ #{item[:name]} ]", send(item[:path]), class: "text-white hover:text-accent-secondary text-sm font-medium leading-normal transition-colors flex items-center" %>
      <% end %>
    </div>
  </div>
</header>
